.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

select {
  width: auto;
}

header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
}

header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header section :first-child {
  order: 2;
}

header section :last-child {
  order: 1;
}

header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}

header nav ul {
  margin: 1rem;
  margin-top: 0;
}

header nav a {
  display: block;
}

@media (min-width: 40rem) {
  /* Small devices (landscape phones, 576px and up) */
  header section {
    flex-direction: row;
  }

  header nav ul {
    margin: 1rem;
  }

  .logo {
    flex-basis: 527px;
    margin: 2rem 1rem;
  }
}

.alert {
  padding: 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}
